.vs/
[Dd]ebug/
[Rr]elease/
**/__vm/
.DS_Store
*.sw[op]
.vscode
.pio
platformio-user.ini
/lib/FirmwareVersion/src/generated_version.h
/src/web/root
/src/AmsToMqttBridge.ino.cpp
/test
/web/test.html
/sdkconfig
/.tmp
/*.zip
node_modules
/gui/dist
/scripts/*dev
