.vs/
.idea/
[Dd]ebug/
[Rr]elease/
**/__vm/
.DS_Store
*.sw[op]
.vscode
.pio
platformio-user.ini
/lib/FirmwareVersion/src/generated_version.h
/src/generated_version.h
/src/CustomDefaults.h
/src/webserver/html/
/src/mqtt/json/*.h
/src/web/root
/src/AmsToMqttBridge.ino.cpp
/ui/dist/
/custom/
/web/test.html
/sdkconfig
/.tmp
/*.zip
node_modules
/gui/dist
/scripts/*dev
localazy-keys.json
localazy/language
/test/payloads/keys/keys.local.json
